@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  overflow-x: hidden;
}

#page-1,#page-2 {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}
#nav {
  font-size: 1rem;

  height: 5rem;
  width: 100%;
  background-color: #c5eae2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8rem;
}
#options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#options a {
  color: black;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
}
#details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
#details button {
  font-size: 1rem;
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-radius: 30px;
  background-image: linear-gradient(to right, #38ef7d, #11998e);
  border: none;
}
#hero {
  width: 100%;
  height: 80%;
  background-image: url('../src/assets/Apresentação\ Modelo\ -\ Layer\ 21.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#hero #image,
#hero #information {
  height: 100%;
  width: 50%;
}
#hero #image {
  margin-top: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero #information {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: start;
  color: white;
}
#hero #information h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 7rem;
}
#hero #information p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: -20px;
  background-image: linear-gradient(to right, #38ef7d, #11998e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#hero #information h1 div {
  display: inline-block;
  background-image: linear-gradient(to right, #38ef7d, #11998e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-bottom: 8px solid #11998e; 
  margin-right: 1.3rem;
}
#hero #information h1 div::before {
  content: "";
  border-bottom: 8px solid #11998e;
  width: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.buttons button {
  /* background-color: transparent; */
  /* border: none; */
  background-image: linear-gradient(to right, #38ef7d, #11998e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.4rem;
  padding: 0.8rem 1.8rem;
  border-style: solid;
  border-width: 3px;
  border-color: #11998e;
  border-radius: 40px;
}
.buttons div {
  margin-left: -30px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #38ef7d, #11998e);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons div img {
  height: 1rem;
  transform: rotate(-45deg);
}

#info {
  height: 10%;
  width: 100%;
}
#info .client-satisfaction {
  width: 320px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 49rem;
  left: 17rem;
  border-radius: 15px;
  box-shadow: 0px 7px 10px 0px #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#info .client-satisfaction img{
    width: 80%;
}

/* page-2 */
#page-2{
    overflow: hidden;
}
.p-2-info{
    font-size: 2rem;
    font-weight: 600;
    padding-left: 70px;
    padding-right: 40px;
    
}
.p-2-info h2{
   margin-left:175px;

}
.p-2-info h2 div{
    display: inline-block;
    background-image: linear-gradient(to right, #38ef7d, #11998e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-2-info image{
    
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p-2-info img{
   margin-left:175px;
   margin-top: 3rem;
    width: 80%;
    cursor: pointer;
}
.data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.data .left{
    height: 80vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 9rem;
}
.data .right{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 50vw;
}
.data .left .first_p{
    font-size: 1.5rem;
    background-image: linear-gradient(to right, #38ef7d, #11998e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.data .left h2{
    font-size: 3rem;
    font-weight: 900;
}
.years{
    font-size: 90px;
    font-weight: bolder;
    background-image: linear-gradient(to right, #38ef7d, #11998e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.text{
    font-size: 30px;
    font-weight: bolder;
    color: #4F7396;   
    margin-bottom: 2rem;
}
